.navbar{
    background-color: #e3f2fd;
}

header {
    padding: 100px;
    height: 300px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-size: 300%;
    background-image: url('../assets/header.jpg');
}

footer{
    background-color: rgb(66, 135, 245);
    color: white;
    padding: 15px;
    text-align: center;
    letter-spacing: 3px;
}