<div class="d-flex" ng-if="!loggedIn">
    <div class="form-floating m-1">
        <input type="email" class="form-control" id="floatingInput" placeholder="E-mail cím..." ng-model="user.name">
        <label for="floatingInput">Email cím...</label>
    </div>
    <div class="form-floating m-1">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Jelszó..." ng-model="user.pass">
        <label for="floatingPassword">Jelszó...</label>
    </div>
    <div class="form-floating m-1">
        <button class="btn btn-primary p-3" type="button" ng-click="login()">Belépés</button>
    </div>
    <div class="form-floating m-1 ">
        <a class="btn btn-primary p-3" type="button" href="#!/reg">Regisztráció</a>
    </div>
</div>
<div class="d-flex" ng-if="loggedIn">
    <div class="form-floating m-1">
        <input type="text" class="form-control" id="floatingInput" ng-model="loggedUser" disabled>
        <label for="floatingInput">Felhasználónév...</label>
    </div>
    <div class="form-floating m-1">
        <button class="btn btn-primary p-3" type="button" ng-click="logout()">Kilépés</button>
    </div>
</div>