<!-- profilmod -->

<div ng-controller="userCtrl" class="col-sm-10 offset-sm-1 col-lg-6 offset-lg-3">

    <h3 class="mt-3">Profil adatok módosítása</h3>
    <hr>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Név..." ng-model="user.name">
        <label for="floatingInput">Név...</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="E-mail cím..." ng-model="user.email">
        <label for="floatingInput">Email cím...</label>
    </div>
    <div class="form-floating mb-3">
        <form id="upl">
            <input type="file" class="form-control" id="floatingInput" placeholder="Profilkép..." file-model="user.pic" accept="image/*">
        </form>

        <label for="floatingInput">Profilkép...</label>
    </div>
    <button class="btn btn-primary mb-3" ng-click="modify()">Módosítás</button>
    <div>{{serverResponse}}</div>
</div>