<!-- Users login / logout form -->

<div ng-controller="loginCtrl" class="col-sm-10 offset-sm-1 col-lg-6 offset-lg-3">

    <h3 class="mt-3">Regisztráció</h3>
    <hr>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Név..." ng-model="user.name">
        <label for="floatingInput">Név...</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="E-mail cím..." ng-model="user.email">
        <label for="floatingInput">Email cím...</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Jelszó..." ng-model="user.pass1">
        <label for="floatingPassword">Jelszó...</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Jelszó megerősítése..." ng-model="user.pass2">
        <label for="floatingPassword">Jelszó megerősítése...</label>
    </div>
    <button class="btn btn-primary mb-3" ng-click="regist()">Regisztráció</button>

</div>