<div ng-controller="themeCtrl">
    <div>
        <div class="form-floating mb-3">
            <h4>Új téma:</h4>
            <input type="text" class="form-control" id="themeTitle" placeholder="" ng-model="themeTitle">
            <label for="themeTitle"></label>
        </div>
        <button class="btn btn-primary mb-3" ng-click="insert()" ng-if="!upgrade">Felvesz</button>
        <button class="btn btn-warning mb-3" ng-click="modif()" ng-if="upgrade">Módosít</button>

    </div>


    <table class="table table-primary table-striped">
        <thead>
            <th>Azonosító</th>
            <th>Létrehozta</th>
            <th>Téma Címe</th>
            <th>Létrehozás ideje</th>
            <th class="text-end">Műveletek</th>
        </thead>

        <tbody>
            <tr ng-repeat="item in forums">
                <td>{{$index+1}}</td >
                <td>{{item.userName}}</td>
                <td>{{item.name}}</td>
                <td>{{item.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="text-end">
                    <button class="btn btn-primary mb-3" ng-click="mod(item.id)">Módosít</button>
                    <button class="btn btn-primary mb-3" ng-click="del(item.id)">Töröl</button>
                </td>
            </tr>
        </tbody>

        <tfoot>
        </tfoot>
    </table>
</div>
